body {background-color: #FFFFFF}

.slider {
	position: relative;
    margin: 0 auto;
    display: block;
    position : absolute;
    text-align: center; 
    float: left;

}

.box1 {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    float: right;
}

.box1 p {
    margin: 0; 
    padding: 0;
}

.haiti {
    display: flex;
}
